:root {
    --item1-transform: translateX(-100%) translateY(-10%) scale(2.3);
    --item1-filter: blur(30px);
    --item1-zIndex: 11;
    --item1-opacity: 0;

    --item2-transform: translateX(0);
    --item2-filter: blur(0px);
    --item2-zIndex: 10;
    --item2-opacity: 1;

    --item3-transform: translate(50%, 10%) scale(0.8);
    --item3-filter: blur(10px);
    --item3-zIndex: 9;
    --item3-opacity: 1;

    --item4-transform: translate(90%, 20%) scale(0.5);
    --item4-filter: blur(30px);
    --item4-zIndex: 8;
    --item4-opacity: 1;

    --item5-transform: translate(120%, 30%) scale(0.3);
    --item5-filter: blur(40px);
    --item5-zIndex: 7;
    --item5-opacity: 0;

    --text-black: black;
    --text-white: white;
}





.prodContainer {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    margin: 5vh 0 0vh 0;
}

.vertical-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    color: var(--dark-grey);
    border-left: var(--dark-grey) 1px solid;
    border-right: var(--dark-grey) 1px solid;
    width: 50px;
    position: relative;
    margin: 0 3rem 0 5rem;
}

.menu-item {
    text-align: center;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transition: color 0.3s ease-in-out;
    pointer-events: none;
    text-decoration: none;
    border: none; 
}

.menu-item.active {
    color: var(--text-black);
}

.highlight-bar {
    position: absolute;
    right: -2px;
    width: 5px;
    height: 60px;
    background-color: var(--text-black);
    transition: top 0.5s ease-in-out;
    z-index: 1;
}




/* carousel */
.carousel {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-color: whitesmoke;
    /* margin-top: -4rem; */
}

.carousel .list {
    position: absolute;
    width: 1140px;
    max-width: 90%;
    height: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.carousel .list .item {
    position: absolute;
    left: 0%;
    width: 70%;
    height: 100%;
    font-size: 15px;
    transition: left 1.5s, opacity 1.5s, width 1.5s;
}

.carousel .list .item:nth-child(n + 6) {
    opacity: 0;
}

.carousel .list .item:nth-child(2) {
    z-index: 10;
    transform: translateX(0);
}

.carousel .list .item img {
    width: 50%;
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.9s;
}

.carousel .list .item .introductionText {
    opacity: 0;
    transition: opacity 0s;
    pointer-events: none;
    color: var(--text-black);
    margin-left: -8%;
}

.carousel .list .item:nth-child(2) .introductionText {
    opacity: 1;
    pointer-events: auto;
    width: 335px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.8s;
}

/* .carousel .list .item .introductionText .title {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1em;
    position: absolute;
    top: -55%;
} */

.carousel .list .item .introductionText .topic {
    font-size: 3.9em;
    font-weight: 500;
    text-wrap: nowrap;
    margin: 2rem 0 1rem 0;
}

.carousel .list .item .introductionText .des {
    font-size: small;
    color: var(--text-black);
    width: 90%;
    text-align: justify;
    padding-right: 0.5rem;
}

.carousel .list .item .introductionText .seeMoreBtn {
    font-size: medium;
    margin-top: 1rem;
    padding: 0.2rem 0;
    border: none;
    outline: none;
    /* border-bottom: 1px solid #555; */
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 3px;
    transition: background 0.5s;
}

.carousel .list .item .introductionText .seeMoreBtn::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.5px;
    display: block;
    left: 0;
    bottom: 0;
    background-color: var(--text-black);
    transition: width 0.5s;
}

.carousel .list .item .introductionText .seeMoreBtn:hover::after {
    width: 100%;
}

.carousel .list .item:nth-child(1) {
    transform: var(--item1-transform);
    filter: var(--item1-filter);
    z-index: var(--item1-zIndex);
    opacity: var(--item1-opacity);
    pointer-events: none;
}

.carousel .list .item:nth-child(3) {
    transform: var(--item3-transform);
    filter: var(--item3-filter);
    z-index: var(--item3-zIndex);
}

.carousel .list .item:nth-child(4) {
    transform: var(--item4-transform);
    filter: var(--item4-filter);
    z-index: var(--item4-zIndex);
}

.carousel .list .item:nth-child(5) {
    transform: var(--item5-transform);
    filter: var(--item5-filter);
    opacity: var(--item5-opacity);
    pointer-events: none;
}

/* animation text in item2 */
.carousel .list .item:nth-child(2) .introductionText .title,
.carousel .list .item:nth-child(2) .introductionText .topic,
.carousel .list .item:nth-child(2) .introductionText .des,
.carousel .list .item:nth-child(2) .introductionText .seeMoreBtn {
    opacity: 0;
    animation: showContent 0.5s 1s ease-in-out 1 forwards;
}

@keyframes showContent {
    from {
        opacity: 0;
        transform: translateY(-30px);
        filter: blur(10px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}

.carousel .list .item:nth-child(2) .introductionText .topic {
    animation-delay: 1.2s;
}

.carousel .list .item:nth-child(2) .introductionText .des {
    animation-delay: 1.4s;
}

.carousel .list .item:nth-child(2) .introductionText .seeMoreBtn {
    animation-delay: 1.6s;
}

/* next click */
.carousel.next .item:nth-child(1) {
    animation: transformFromPosition2 0.6s ease-in-out 1 forwards;
    /* opacity: 0;
    transition: opacity 0.55s !important; */
}

@keyframes transformFromPosition2 {
    from {
        transform: var(--item2-transform);
        filter: var(--item2-filter);
        opacity: var(--item2-opacity);
    }
}

.carousel.next .item:nth-child(2) {
    animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}

@keyframes transformFromPosition3 {
    from {
        transform: var(--item3-transform);
        filter: var(--item3-filter);
        opacity: var(--item3-opacity);
    } 
}

.carousel.next .item:nth-child(3) {
    animation: transformFromPosition4 1s ease-in-out 1 forwards;
}

@keyframes transformFromPosition4 {
    from {
        transform: var(--item4-transform);
        filter: var(--item4-filter);
        opacity: var(--item4-opacity);
    }
}

.carousel.next .item:nth-child(4) {
    animation: transformFromPosition5 1.2s ease-in-out 1 forwards;
}

@keyframes transformFromPosition5 {
    from {
        transform: var(--item5-transform);
        filter: var(--item5-filter);
        opacity: var(--item5-opacity);
    }
}

/* previous */
.carousel.prev .list .item:nth-child(5) {
    animation: transformFromPosition4 0.6s ease-in-out 1 forwards;
}

.carousel.prev .list .item:nth-child(4) {
    animation: transformFromPosition3 0.8s ease-in-out 1 forwards;
}

.carousel.prev .list .item:nth-child(3) {
    animation: transformFromPosition2 1s ease-in-out 1 forwards;
}

.carousel.prev .list .item:nth-child(2) {
    animation: transformFromPosition1 1.2s ease-in-out 1 forwards;
}

@keyframes transformFromPosition1 {
    from {
        transform: var(--item1-transform);
        filter: var(--item1-filter);
        opacity: var(--item1-opacity);
    }
}

/* productDetail  */
.carousel .list .item .productDetail {
    opacity: 0;
    transition: opacity 0s;
    pointer-events: none;
    color: var(--text-black);
}

.carousel.showDetail .list .item:nth-child(3),
.carousel.showDetail .list .item:nth-child(4) {
    left: 100%;
    opacity: 0;
    pointer-events: none;
    cursor: default;
}

.showDetail {
    cursor: default !important;
}

.carousel.showDetail .list .item:nth-child(2) {
    width: 100%;
}

.carousel.showDetail .list .item:nth-child(2) .introductionText {
    opacity: 0;
    pointer-events: none;   
}

.carousel.showDetail .list .item:nth-child(2) img {
    right: 53%;
    cursor: default;
}

.carousel.showDetail .list .item:nth-child(2) .productDetail {
    opacity: 1;
    transition: opacity 5.5s;
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    pointer-events: auto; 
}

.carousel.showDetail .list .item:nth-child(2) .productDetail .title {
    font-size: 5rem;
    font-weight: 600;
    text-align: left;
    line-height: 1;
}

.carousel.showDetail .list .item:nth-child(2) .productDetail .des {
    text-align: justify;
    overflow: auto;
    font-size: 16px;
    line-height: 1.5;
}

.carousel.showDetail .list .item:nth-child(2) .productDetail .specifications {
    display: flex;
    gap: 13px;
    width: 100%;
    border-top: 1px solid #5555;
    margin-top: 20px;
    padding-top: 15px;
    justify-content: space-evenly;
    align-items: center;
}

.carousel.showDetail .list .item:nth-child(2) .productDetail .specifications div {
    text-align: center;
    flex-shrink: 0;
    /* border-right: 1px solid #666; */
}

.carousel.showDetail .list .item:nth-child(2) .productDetail .specifications div p:nth-child(1) {
    font-weight: 600;
}

.carousel.carousel.showDetail .list .item:nth-child(2) .checkout button {
    background-color: var(--yellow);
    letter-spacing: 2px;
    font-weight: 600;
    border: none;
    outline: none;
    color: var(--black);
    padding: 10px 15px;
    margin: 2rem 0 0 0.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-wrap: nowrap;
}

.carousel.carousel.showDetail .list .item:nth-child(2) .checkout button:hover {
    background-color: var(--yellow);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}

.carousel.carousel.showDetail .list .item:nth-child(2) .checkout button:active {
    transform: scale(0.94);
    transition: transform 0.1s;
}

.carousel.showDetail .list .item:nth-child(2) .productDetail .title,
.carousel.showDetail .list .item:nth-child(2) .productDetail .des,
.carousel.showDetail .list .item:nth-child(2) .productDetail .specifications,
.carousel.showDetail .list .item:nth-child(2) .productDetail .checkout {
    opacity: 0;
    animation: showContent 0.5s 1s ease-in-out 1 forwards;
}

.carousel.showDetail .list .item:nth-child(2) .productDetail .des {
    animation-delay: 1.2s;
}

.carousel.showDetail .list .item:nth-child(2) .productDetail .specifications {
    animation-delay: 1.4s;
}

.carousel.showDetail .list .item:nth-child(2) .productDetail .checkout {
    animation-delay: 1.6s;
}

/* .arrows {
    position: absolute;
    bottom: 10px;
    width: 1140px;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
} */

/* #prev,
#next {
    opacity: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #5555;
    font-size: large;
    bottom: 20%;
    left: 10%;
}

#next {
    left: unset;
    right: 10%;
} */

.carousel.showDetail #back {
    display: block;
}

#back {
    display: none;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    outline: none;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: transparent;
    padding: 5px;
    /* margin-bottom: 3rem; */
    color: var(--text-black);
}

#back::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.5px;
    display: block;
    left: 0;
    bottom: 10%;
    background-color: var(--text-black);
    transition: width 0.5s;
}

#back:hover::after {
    width: 92%;
}

/* .carousel::before {
    width: 500px;
    height: 300px;
    content: '';
    background-image: linear-gradient(70deg, #fff825, rgb(23, 23, 255));
    position: absolute;
    border-radius: 20% 30% 80% 10%;
    filter: blur(150px);
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    transition: 1.5s;
}

.carousel.showDetail::before {
    transform: translate(-100%, -50%) rotate(90deg);
    filter: blur(130px);
} */

.carousel-moving {
    cursor: url("../../assets/right-arrow.svg"), auto !important;
}

/* .carousel .list .item img {
    cursor: url("../../assets/right-arrow.svg"), auto;
}

.carousel .list .item .intro {
    cursor: url("../../assets/left-arrow.svg"), auto;
} */

@media screen and (max-width: 1250px) {
    .carousel .list .item:nth-child(2) .introductionText {
        width: 40%;
    }

    .carousel .list .item:nth-child(2) .introductionText .topic {
        font-size: 4em;
        text-wrap: wrap;
        line-height: 1.1;
    }

    .carousel .list .item img {
        right: 3%;
    }

    .carousel.showDetail .list .item:nth-child(2) .productDetail {
        margin: 1rem 1rem 1rem 0;
    }

    .carousel.showDetail .list .item:nth-child(2) .productDetail .specifications {
        overflow: auto;
    }
}

@media screen and (max-width: 991px) {
    /* .prodContainer {
        height: 70%;
    } */

    .vertical-menu {
        width: 50px;
        margin-left: 3rem;
        margin-right: 1.5rem;
    }

    .menu-item {
        font-size: 18px;
    }

    .highlight-bar {
        width: 2.5px;
    }

    .carousel .list .item {
        width: 90%;
        margin-left: 2%;
    }

    .carousel .list .item:nth-child(2) .introductionText {
        width: 40%;
    }

    .carousel .list .item:nth-child(2) .introductionText .topic {
        font-size: 3.5em;
    }

    .carousel .list .item img {
        right: 8%;
    }

    .carousel.showDetail .list .item:nth-child(2) .productDetail .specifications {
        overflow: auto;
    }

    .carousel.showDetail .list .item:nth-child(2) .productDetail .des {
        height: 150px;
    }

    .carousel.carousel.showDetail .list .item:nth-child(2) .checkout button {
        padding: 8px 12px;
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    /* .prodContainer {
        height: 70%;
    } */

    .vertical-menu {
        width: 35px;
        margin-left: 1.5rem;
    }    

    .menu-item {
        font-size: 16px;
    }

    .highlight-bar {
        /* width: 2px; */
        right: -2px;
    }

    /* .carousel {
        height: 600px;
    } */

    .carousel .list .item {
        width: 100%;
        font-size: 10px;
        margin-left: 3%;
    }

    .carousel .list {
        height: 100%;
    }

    .carousel .list .item:nth-child(2) .introductionText {
        width: 40%;
    }

    .carousel .list .item img {
        width: 60%;
    }

    .carousel.showDetail .list .item:nth-child(2) .productDetail {
        backdrop-filter: blur(10px);
        font-size: small;
        width: 45%;
    }

    .carousel.showDetail .list .item:nth-child(2) .productDetail .title {
        line-height: 1.1;
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    .carousel .list .item:nth-child(2) .introductionText .topic {
        font-size: 3.8em;
        text-wrap: wrap;
        line-height: 1.2;
    }

    .carousel .list .item:nth-child(2) .introductionText .des,
    .carousel.showDetail .list .item:nth-child(2) .productDetail .des {
        height: 100px;
        overflow: auto;
        line-height: 1.5;
    }

    .carousel.showDetail .list .item:nth-child(2) .productDetail .checkout {
        display: flex;
        width: max-content;
        float: right;
    }

    .carousel.carousel.showDetail .list .item:nth-child(2) .checkout button {
        padding: 8px 12px;
        font-size: 14px;
    }
}


@media screen and (max-width: 576px) {
    .vertical-menu {
        margin-left: 1rem;
    }

    .carousel .list .item .introductionText .seeMoreBtn {
        font-size: small;
    }

    .carousel .list .item {
        font-size: 8px;
    }

    .carousel .list .item img {
        width: 60%;
    }

    .carousel .list .item:nth-child(2) .introductionText {
        width: 40%;
    }

    .carousel .list .item:nth-child(2) .introductionText .title {
        font-size: 1.5em;
    }

    .carousel .list .item:nth-child(2) .introductionText .topic {
        font-size: 3.8em;
    }

    /* .carousel .list .item:nth-child(2) .introductionText .des {
        height: 80px;
    } */

    .carousel.showDetail .list .item:nth-child(2) .productDetail .title {
        font-size: 2rem;
    }

    /* .carousel.showDetail .list .item:nth-child(2) img  {
        margin-top: -2rem;
    } */

    .carousel.carousel.showDetail .list .item:nth-child(2) .checkout button {
        padding: 8px 12px;
        font-size: 10px;
    }

    #back {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 400px) {
    /* .carousel {
        height: 400px;
    } */

    .carousel .list .item {
        font-size: 7px;
    }

    .carousel .list .item img {
        width: 60%;
    }

    .carousel .list .item:nth-child(2) .introductionText {
        width: 40%;
    }

    .carousel .list .item:nth-child(2) .introductionText .title {
        font-size: 1.2em;
    }

    .carousel .list .item:nth-child(2) .introductionText .topic {
        font-size: 4em;
    }

    .carousel .list .item:nth-child(2) .introductionText .des {
        height: 80px;
    }

    .carousel.showDetail .list .item:nth-child(2) .productDetail .title {
        font-size: 1.8rem;
    }

    .carousel .list .item .introductionText .seeMoreBtn {
        font-size: x-small;
    }

    .carousel.carousel.showDetail .list .item:nth-child(2) .checkout button {
        padding: 4px 6px;
        font-size: 10px;
    }

    #back {
        margin-bottom: 0;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 2px;
    }
}