.animated-title-container {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10vh;
  /* overflow: hidden; */
}

.titleText {
  position: relative;
  z-index: 1;
  /* width: 100%; */
  text-align: center;
  background: linear-gradient(180deg, rgb(249, 237, 50), rgb(46, 40, 0));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-weight: 400 !important;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); */
  /* transition: font-size 0.1s; */
}

/* .titleText:hover {
  border-top: 1px solid black;
  transition: border-bottom-color 0.3s, box-shadow 0.3s;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
} */

/* .blurry-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background: linear-gradient(120deg, rgba(255, 0, 150, 0.5), rgba(0, 204, 255, 0.5));
  filter: blur(100px);
  animation: moveGradient 5s infinite alternate;
  z-index: 0;
}

@keyframes moveGradient {
  0% {
    transform: translate(50%, 50%);
  }
  100% {
    transform: translate(100%, 100%);
  }
} */
