 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

 
/* body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
} */

.table{
  width: 90%;
  margin: 2rem auto;
}
.main-container {
  margin: 20px 20px;  
  padding: 20px;
   height: calc(100vh - 220px);  
  overflow: auto;  
}

.table-container {
  margin-top: 2px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;  
 }

.table-container .MuiTableCell-root {
  font-family: 'Poppins', sans-serif;
  padding: 20px; 
  font-size: 1em;  
  background-color: #2C2A2A;  
  color: #FFFFFF;  
  text-align: center;
  border: 1px solid #FFFFFF; 
}

.header-cell {
  background-color: #F9ED32;  
  color: #000000;  
  font-family: 'Poppins', sans-serif;
  font-size: larger;  
  font-weight: bold;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
  border: 1px solid #F9ED32;  
}

.spec-cell {
  display: table-cell;
  background-color: #F9ED32; 
  color: #000000;  
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  border: 1px solid #F9ED32;  
}
@media (max-width: 590px) and (max-height: 900px) {
  .spec-cell {
      display: none;
  }
}
.data-cell {
  background-color: #2C2A2A;  
  color: #FFFFFF;  
  font-family: 'Lato', sans-serif;
  border: 1px solid #F9ED32; 
  transition: background-color 0.3s ease, color 0.3s ease;  
}
.table-container .MuiTableRow-root .spec-cell{
color:yellow
}
.table-container .MuiTableRow-root .header-cell{
  color:black;
  background-color: #F9ED32;  
   
  font-weight: bold;
  border: 2px solid black;
  }
  

.table-container .MuiTableRow-root:hover .data-cell {
  font-weight: bold;
  background-color: #F9ED32;  
  color: #000000;  
  border: 1px solid black;
}

.calculator-section {
  margin-top: 40px;
  padding: 20px;
  background-color: #202020;
  color: #FAFAFA;
  text-align: center;
  border-radius: 8px;
}

.calculator-heading {
  font-family: 'Poppins', sans-serif;
  color: #F9ED32;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .main-container {
      margin: 150px 10px 20px;  
      padding: 10px;
  }

  .customize-button, .buy-button {
      width: 100%;
  }

  .table-container .MuiTableCell-root {
      padding: 16px;  
      font-size: 0.9em;  
  }

  .header-cell {
      font-size: 0.9em; 
  }
}
