/* ComparisonTable.css */
.main-container {
    margin: 20px;
    padding: 20px;
  }
  
  .vehicle-section {
    text-align: center;
  }
  
  .vehicle-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .customize-button, .buy-button {
    display: block;
    margin: 10px auto;
    width: 80%;
    background-color: #F9ED32;
    color: #252525;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
  
  .table-container {
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .table-container .MuiTableCell-root {
    font-family: 'Calibri', sans-serif;
    padding: 16px;
  }
  
  .header-cell {
    background-color: #252525;
    color: #F9ED32;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .spec-cell {
    background-color: #2C2A2A;
    color: #F9ED32;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
  }
  
  .data-cell {
    background-color: #373737;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
  }
  
  .table-container .MuiTableRow-root:hover {
    background-color: #414141;
    transition: background-color 0.3s ease;
  }
  
  .calculator-section {
    margin-top: 40px;
    padding: 20px;
    background-color: #202020;
    color: #FAFAFA;
    text-align: center;
    border-radius: 8px;
  }
  
  .calculator-heading {
    font-family: 'Poppins', sans-serif;
    color: #F9ED32;
    margin-bottom: 20px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .main-container {
      padding: 10px;
    }
  
    .customize-button, .buy-button {
      width: 100%;
    }
  }
  