@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.table {
  width: 70%; /* Set the width of the table */
  margin: 2rem auto;
}

.table-container {
  margin-top: 2px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.table-container .MuiTableCell-root {
  font-family: 'Poppins', sans-serif;
  padding: 10px;  /* Set the height of each cell */
  font-size: 0.9em;  /* Adjust font size for better readability */
  background-color: #2C2A2A;
  color: #FFFFFF;
  text-align: center;
  border: 1px solid #FFFFFF;  /* Set border color to white */
}

.header-cell {
  background-color: #F9ED32;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  border: 1px solid #FFFFFF;  /* White border for consistency */
}

.spec-cell {
  background-color: #F9ED32;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border: 1px solid #FFFFFF;  /* White border */
}

.data-cell {
  background-color: #2C2A2A;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #FFFFFF;  /* White border */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.table-container .MuiTableRow-root:hover .data-cell {
  font-weight: bold;
  background-color: #bababa;  /* Updated hover color */
  color: #000000;
  border: 1px solid #FFFFFF;  /* Keep the border white on hover */
}

/* Responsiveness */
@media (max-width: 768px) {
  .table-container .MuiTableCell-root {
    padding: 8px;  /* Further reduce padding for smaller screens */
    font-size: 0.8em;  /* Adjust font size for smaller screens */
  }

  .header-cell {
    font-size: 1em;
  }
}
