.carousel-wrapper1 {
    display: grid;
    place-content: center;
    border-radius: 2rem;

  }
  .carousel-content1 {
    position: relative;
    width: 30rem;
    height: 30rem;
  }
  
  .carousel-item1 {
    position: absolute;
    width: 30rem;
    height: 30rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* border-radius: 10rem; */
  }
  
  .carousel-btns1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    z-index: 6000;
  }

  .carousel-btns1 button {
    padding: 8px 15px;
    width: 5rem;
    background-color: rgb(62, 62, 62);
    border-radius: 1rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
  }

  .carousel-text1{
    font-size: var(--heading);
    position: relative;
    top: 80%;
  }

  @media (max-width:836px) {
    .carousel-content1{
      width: 25rem;
      height: 25rem;
    }
    .carousel-item1{
      width: 25rem;
      height: 25rem;
    }
    .carousel-btns1 button{
      padding: 8px 10px;
      width: 4rem;
    }
  }

  @media (max-width:756px) {
    .carousel-content1{
      width: 20rem;
      height: 20rem;
    }
    .carousel-item1{
      width: 20rem;
      height: 20rem;
    }
  }

  /* @media (max-width:704px) {
    .carousel-text1{
      top: 52%;
    }
  } */

  @media (max-width:686px) {
    .carousel-content1{
      width: 15rem;
      height: 15rem;
    }
    .carousel-item1{
      width: 15rem;
      height: 15rem;
    }
  }
  
  /* @media (max-width:480px) {
    .carousel-content1{
      width: 12rem;
      height: 12rem;
    }
    .carousel-item1{
      width: 12rem;
      height: 12rem;
    }
  } */