.sparkles-preview-container {
  height: 40rem;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
}

.sparkles-preview-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: white;
  z-index: 2;
  position: relative;
}

@media (min-width: 768px) {
  .sparkles-preview-title {
      font-size: 7rem;
  }
}

@media (min-width: 1024px) {
  .sparkles-preview-title {
      font-size: 9rem;
  }
}

.sparkles-preview-gradient-container {
  width: 40%;
  height: 40%;
  position: relative;
}

.gradient {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, transparent, indigo 50%, transparent);
}

.gradient-1 {
  height: 2px;
  width: 75%;
  filter: blur(0.25rem);
}

.gradient-2 {
  height: 1px;
  width: 75%;
}

.gradient-3 {
  background: linear-gradient(to right, transparent, skyblue 50%, transparent);
  height: 5px;
  width: 25%;
  filter: blur(0.25rem);
}

.gradient-4 {
  background: linear-gradient(to right, transparent, skyblue 50%, transparent);
  height: 1px;
  width: 25%;
}

.sparkles-preview-core {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sparkles-preview-radial-gradient {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  mask-image: radial-gradient(350px 200px at top, transparent 20%, white);
  z-index: 1;
}
