.gtx-container {
    width: 100%;
    height: auto;
    background-color: #252525;
    color: #fff;
    padding: 2rem 5rem;
    text-align: center;
    margin: 3rem auto;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gtx-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.gtx-details {
    max-width: 45%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.headerText {
    font-size: 3.5vw;
    font-weight: 400;
    margin-bottom: 2rem;
    line-height: 1.1;
}

.badge {
    width: max-content;
    background-color: #d0d0d0;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    display: inline-block;
}

.title {
    font-size: var(--heading);
    font-weight: bold;
    margin-bottom: 1rem;
}

.description {
    font-size: 1rem;
    color: #888;
    margin-bottom: 1.5rem;
    text-align: justify;
}

.buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
}

.book-now, .learn-more {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}

.book-now {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--yellow);
    color: #000;
    font-weight: 600;
    width: max-content;
}

.book-now:hover {
    background-color: var(--yellow-hover);
    box-shadow: 0 8px 12px rgba(92, 92, 92, 0.9);
    transform: translateY(-2px);
    font-weight: 700;
}

.learn-more {
    color: #fff;
    /* border-bottom: 1px solid #fff; */
}

.learn-more:hover {
    text-decoration: underline;
}

.gtx-image-container {
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.gtx-image {
    width: 100%;
    object-fit: contain;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .headerText {
        font-size: 3vw;
    }
    .gtx-details {
        max-width: 50%;
    }
    .gtx-image-container {
        max-width: 45%;
    }
}

@media (max-width: 992px) {
    .gtx-content {
        flex-direction: column;
    }
    .gtx-details {
        max-width: 100%;
        text-align: center;
    }
    .gtx-image-container {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .gtx-container{
        padding: 2rem 2rem;
        text-align: center;
    }
    .headerText {
        font-size: 5vw;
    }
    .title {
        font-size: 2.5rem;
    }
    .badge {
        font-size: 0.9rem;
        width: 100%;
    }
    .description {
        font-size: 0.9rem;
    }
    .buttons {
        /* flex-direction: column; */
        align-items: center;
    justify-content: center;
        gap: 1rem;
    }
    .gtx-image {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .headerText {
        font-size: 6vw;
    }
    .title {
        font-size: 2rem;
    }
    .description {
        font-size: 0.8rem;
    }
    .badge {
        font-size: 0.8rem;
    }
    .gtx-image {
        width: 90%;
    }
}
